# Byte-compiled
__pycache__/

# Environments
.env
env/
venv/

# IDE
.idea
.vscode

# Develop
test.py
test.mp4
ml/train.txt
ml/test.txt
.cache
.pytest_cache
staticfiles/
buffer.mp4

# Large files
extra/
pdf_articles/
camera_recordings/
ml/deprecated/
ml/training/backup/
ml/yolo.weights
mediafiles/
