# Byte-compiled
__pycache__/

# Environments
.env
env/
venv/

# IDE
.idea
.vscode

# Develop
test.py
test.mp4
.cache
.pytest_cache
staticfiles/

# Large files
extra/
pdf_articles/
camera_recordings/
ml/deprecated/
ml/training/backup/
mediafiles/
