{% extends 'base.html' %}
{%  block title %}Главная{% endblock %}
{% block content %}
    <div class="default-text center">
        <div>Данный ресурс предназначен для распознавания действий студентов на видео.</div>
        {% if user.is_authenticated %}
            <div class="top-margin-10px">
                <a href="{% url 'profile' %}">Профиль</a>
            </div>
            <div>
                <a href="{% url 'logout' %}">Выйти</a>
            </div>
        {% else %}
            <div>
                <a href="{% url 'login' %}">Войти</a>
            </div>

        {% endif %}
        <div>
            <a href="{% url 'registration' %}">Создать аккаунт</a>
        </div>
    </div>
{% endblock %}
