{% extends 'base.html' %}
{% load static %}
{% block title %}Видео{% endblock %}
{% block content %}
    <div class="account-info-text">
        <div>Название видео: <b>{{ video.title }}</b></div>
        <div>Дата загрузки: {{ video.uploaded|date:"d.m.Y H:i" }}</div>
        <div>Плеер:</div>
        <video width="400" height="300" controls muted>
            <source src="{{ video.file.url }}" type="video/mp4">
            Ваш браузер не поддерживает html тэг &lt;h1&gt;video&lt;/h1&gt;.
        </video>
        {% if recognition_task_status %}
            <div>
                Статус распознавания действий в видео: <b>{{ recognition_task_status }}</b>
            </div>
        {% endif %}
        {% if recognition_available %}
            <div>
                <form action="{% url 'recognize_actions' video.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success">Распознать действия</button>
                </form>
            </div>
        {% else %}
            <div>Запустить новое распознавание действий пока невозможно.</div>
        {% endif %}
        <div>
            <form action="{% url 'delete_video' video.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Удалить видео</button>
            </form>
        </div>
        <hr>
        <div class="top-margin-10px">
            <b>Распознавания:</b>
            {% for recognition in video.recognitions.all %}
                    <div class="top-margin-10px">Дата: {{ recognition.created|date:"d.m.Y H:i" }}</div>
                    <div class="recognition">
                        <div>
                            <div class="center">Результаты распознавания:</div>

                            {% if recognition.recognized_file %}
                            <video width="400" height="300" controls muted>
                                <source src="{{ recognition.recognized_file.url }}" type="video/mp4">
                                Ваш браузер не поддерживает html тэг &lt;h1&gt;video&lt;/h1&gt;.
                            </video>
                            <form class="center" action="{% url 'download_recognized_video' recognition.id %}" method="GET">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary">Скачать видео</button>
                            </form>
                            {% endif %}
                        </div>
                        <div>
                            <div class="center">Статистика:</div>
                            <div class="statistics">
                                <div>
                                    {% if recognition.stat_graph %}
                                        <img src="{{ recognition.stat_graph.url }}" alt="" width="425" height="300">
                                        <form class="center" action="{% url 'download_recognition_statistics' recognition.id %}" method="GET">
                                            {% csrf_token %}
                                            <input type="text" name="stat_type" hidden value="graph">
                                            <button type="submit" class="btn btn-primary">Скачать график</button>
                                        </form>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if recognition.stat_pie_chart %}
                                        <img src="{{ recognition.stat_pie_chart.url }}" alt="" width="425" height="300">
                                        <form class="center" action="{% url 'download_recognition_statistics' recognition.id %}" method="GET">
                                            {% csrf_token %}
                                            <input type="text" name="stat_type" hidden value="pie_chart">
                                            <button type="submit" class="btn btn-primary">Скачать диаграмму</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
