Django==4.2.10
python-dotenv==1.0.1
psycopg2-binary==2.9.9
redis==5.0.1
celery[redis]==5.3.6

opencv-python==4.9.0.80
numpy==1.26.4
pandas==2.2.1
matplotlib==3.8.3
pillow==10.2.0
pymediainfo==6.1.0

pre-commit==3.6.2
